Package: uwu.lrdsnow.purepkg
Version: <version>
Architecture: <arch>
Section: Package Manager
Maintainer: Lrdsnow
Author: Lrdsnow
Depends: firmware (>= 15.0)
Name: PurePKG
Description: The purest package manager ever!
Support: https://discord.gg/purity-1140456506119176224
Tag: compatible_min::ios15.0

